@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter-vf.ttf") format("truetype");
}

@font-face {
    font-family: "Galgo";
    src: url("./assets/fonts/galgo-vf.ttf") format("truetype");
}

@layer base {
    html,
    body {
        overscroll-behavior: none;
    }

    body {
        font-family: "Inter", sans-serif;
    }

    .galgo {
        font-family: "Galgo", sans-serif;
    }

    .inter {
        font-family: "Inter", sans-serif;
    }

    .content {
        opacity: 0;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .content::-webkit-scrollbar {
        display: none;
    }

    .label-container,
    .label-loader-container {
        cursor: none;
    }
}
